<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ .Site.Title }}{{ if .Param "page"}}&nbsp;|&nbsp;{{ .Param "page" }}{{ end }}</title>
    {{ partial "libraries-style.html" . }}
    <link href="/assets/img/favicon.ico" rel="icon">
</head>
<body>
    <header class="o-header">
        <h1 class="o-header__title">{{ .Param "title" }}</h1>
        <p class="o-header__describe">{{ .Param "excerpt"}}</p>
        <a class="o-header__responsive" href="javascript:void(0)" onclick="showNav();"><i class="fa fa-navicon"></i></a>
    </header>
    {{ partial "nav.html" . }}