<link href="/assets/css/normalize.css" rel="stylesheet" type="text/css">
<link href="/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="/assets/css/config.css" rel="stylesheet" type="text/css">
<link href="/assets/css/font.css" rel="stylesheet" type="text/css">
<link href="/assets/css/style.css" rel="stylesheet" type="text/css">
<link href="/assets/css/header.css" rel="stylesheet" type="text/css">
<link href="/assets/css/nav.css" rel="stylesheet" type="text/css">
<link href="/assets/css/footer.css" rel="stylesheet" type="text/css">
<link href="/assets/css/box.css" rel="stylesheet" type="text/css">
<link href="/assets/css/blog.css" rel="stylesheet" type="text/css">
<link href="/assets/css/box-list.css" rel="stylesheet" type="text/css">
