.o-header {
    background: var(--colorThird);
    color: #35879A;
    margin-left: var(--navWidth);
    padding: var(--padding) 2rem;
}
.o-header__title {
    font-family: Lato, sans-serif;
    font-weight: bold;
    margin-bottom: .125rem;
}