.c-nav {
    background: var(--colorSecondary);
    display: flex;
    flex-direction: column;
    height: var(--navHeight);
    justify-content: space-between;
    left: 0;
    position: fixed;
    top: 0;
    width: var(--navWidth);
}

.c-nav__author {
    background: var(--colorPrimary);
    color: var(--colorPrimaryText);
    padding: var(--padding);
    margin-bottom: 2rem;
    text-align: center;
}
.c-nav__author___photo {
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 1rem;
    width: 100px;
}
.c-nav__author___name {
    display: block;
    font-family: Lato, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5;
}
.c-nav__author___name:hover {
    text-decoration: underline;
}
.c-nav__author___function {
    font-size: .9rem;
}

.c-nav__list {
    flex-grow: 2;
}

.c-nav__list--networks {
    display: flex;
    padding: 1rem;
}
.c-nav__item--network {
    width: 100%;
}
.c-nav__link--network {
    color: var(--colorPrimaryText);
    display: block;
    font-size: 1.5rem;
    transition: all .25s linear;
}
.c-nav__link--network:hover {
    transform: scale(1.3);
}

.c-nav__link {
    color: var(--colorPrimaryText);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
    transition: all .25s linear;
}
.c-nav__link:hover, .c-nav__link.is-active {
    background: var(--colorPrimary);
}
.c-nav__link___icon {
    background: var(--colorPrimary);
    margin-right: .75rem;
    width: 50px;
    padding: .75rem .5rem;
    text-align: center;
}